@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Ubuntu", sans-serif;
  }

  h1 {
    @apply text-2xl font-bold text-brand-marine-blue md:text-3xl;
  }

  p {
    @apply text-brand-cool-gray;
  }

  label {
    @apply text-sm text-brand-marine-blue;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  select {
    @apply block rounded-md border-brand-light-gray px-4 py-3 font-medium text-brand-marine-blue placeholder:opacity-70 focus:border-brand-purplish-blue focus:ring-brand-purplish-blue md:rounded-lg;
  }
}

@layer components {
  .attribution {
    font-size: 11px;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
